body{

    margin:0;
    padding:0;
    background:#000;
}

div.container{
        background-image: url("../images/polka2.png");
        display: block; margin: 0 auto; 
}

div.paddlePopHeader{
	text-align:center;
}

img.paddlePopImage {
	width:50%;
	height:50%;
}

div.newPage, div#buttonCollection, div#buttonCollectionOne{
	text-align: center;
}

li.gamePageHeader{
	display: inline-block;
}

li.gamePageHeader p{
	font-family: 'Bubblegum Sans', cursive;
    font-size: 6em;
    color: #fff;
    text-shadow: -8px 15px black, 0 10px black, 8px 0 black, 0 -10px black;
}

li.gamePageHeader:nth-child(3) {
	float:right;
	margin-right: 3em;
}

p.mainText{
	font-family: 'Bubblegum Sans', cursive;
	text-align: center;
    font-size: 2em;
    color: #fff;
    text-shadow: 5px 2px black, 5px 0px black, 5px 3px black, 0px 4px black;
    padding: 20px;
}

p.gameOver {
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    font-size: 5em;
    margin: 1em;
    color: #fff;
    text-shadow: 11px 2px black, 10px 6px black, 13px 3px black, 0px 8px black;
    padding: 20px;
}

button.startButton{
	width: 8em;
    text-align: center;
    text-transform: uppercase;
    padding: .5em 0.5em;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    border-radius: 25px;
    box-shadow: 0px 2px 0px #000;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1em;
    position: relative;
    background-color: rebeccapurple;
    font-family: 'Bubblegum Sans', cursive;
}


img#showMouthClosed, img#showMouthOpen{
	width: 300px !important;
}

img.candy{
	position: absolute;
	top:-200px;
	z-index:2;
}

div.catcher{
	height:250px;
	width:250px;
    position: absolute;
    left:25%;
}

input.takePicture{
    position: absolute;
    left: 10em;
    z-index: 2;
    opacity: 0;
}


/* CSS for cropping */

.image-container {
     position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.image-container img{
    display:block;
}

.overlay {
    position: absolute;
    left: 10%;
    top: 25%;
    z-index: 999;
    width: 75%;
    height: 40%;
    border: solid 2px rgba(222,60,80,.9);
    box-sizing: content-box;
    pointer-events: none;
}

div#mouthOpenOverlay {
     width: 75%;
    height: 75%;
}
